beeai_framework==0.1.18
docopt==0.6.2
Flask==3.1.0
jsonschema==4.23.0
openai==1.76.0
psutil==7.0.0
psutil==5.9.8
pycron==3.1.2
pydantic==2.11.3
pytest==8.3.2
pytest_mock==3.14.0
python-dotenv==1.1.0
PyYAML==6.0.2
PyYAML==6.0.2
Requests==2.32.3
streamlit==1.44.1
streamlit==1.44.0
streamlit_mermaid==0.3.0
